{
    "env": {
      "node":true,
      "es6": true
    },
    "extends": [
      "airbnb-typescript",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking",
      "plugin:jsx-a11y/recommended",
      "plugin:prettier/recommended"
    ],
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      },
      "import/resolver":{
        "typescript":{}
      }
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "plugins": ["@typescript-eslint", "react", "react-hooks", "prettier"],
    "rules": {
        "no-console": "warn",
        "jsx-quotes": ["error", "prefer-single"],
        "@typescript-eslint/camelcase": "off",
        "react/prop-types": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "react/jsx-props-no-spreading":"off",
        "react/react-in-jsx-scope":"off",
        "@typescript-eslint/indent":"off",
        "@typescript-eslint/comma-dangle":"off",
        "jsx-a11y/anchor-is-valid":"off",
        "@typescript-eslint/no-unsafe-assignment":"off",
        "@typescript-eslint/no-unsafe-call":"off",
        "@typescript-eslint/no-floating-promises":"off"
    }
  }